@media only screen and (max-width: 1000px) {
  .app .admin {
    padding: 0px 12px;
  }
  .overview-header-wrapper {
    padding: 12px 24px;
  }
  .overview-header-wrapper .header .left-head {
    gap: 24px;
  }
  .overview-header-wrapper .header .left-head .route-name {
    font-size: 18px;
  }
  .overview-header-wrapper .header .right-profile {
    gap: 24px;
  }
  .overview-header-wrapper .header .right-profile .search input {
    font-size: 15px;
    height: 45px;
  }
  .overview-header-wrapper .header .right-profile .settings {
    min-width: 40px;
    min-height: 40px;
    height: 40px;
    width: 40px;
  }
  .overview-header-wrapper .header .left-head .logo .logo-name {
    font-size: 16px;
    font-weight: 500;
  }
  .sidebar .link-area .link,
  .sidebar .link-area .link-with-dropdown {
    padding: 8px 0px 8px 12px;
  }
  .sidebar .link-area .link .left .linkname,
  .sidebar .link-area .link-with-dropdown .left .linkname {
    font-size: 15px;
  }
  .sidebar {
    gap: 8px;
  }
  .content {
    padding: 14px 14px;
  }
  .content .chart-section {
    min-height: auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column-reverse;
  }
  .content .chart-section .left-chart,
  .content .chart-section .right-chart {
    width: 100%;
  }
  .content .top-section .my-parts .toptitle h3 {
    font-size: 16px;
  }
  .content .top-section .my-parts .toptitle .page-icons {
    font-size: 18px;
  }
  .sidebar {
    max-width: 250px;
  }
  .titlemain .left .message p {
    font-size: 12px;
    line-height: 18px;
  }
  .titlemain .left h1 {
    font-size: 18px;
  }
  .titlemain .right {
    padding: 6px 12px;
  }
  .titlemain .right span {
    font-size: 14px;
  }
  .route-component .show-component .shower .table-container table thead tr th {
    padding: 9px 14px;
  }
  .route-component .show-component .shower .table-container table tbody tr td {
    padding: 8px 12px;
  }
}

@media only screen and (max-width: 700px) {
  .app .admin {
    min-width: 1000px;
  }
}

$darkBackground: #232630;
$darkColor: #fafafa;

.dark {
  background-color: $darkBackground;
  .app .admin {
    background-color: $darkBackground;
  }
  .overview-header-wrapper {
    background-color: $darkBackground;
    border-bottom: 1px solid #eeeeee53;
  }
  .overview-header-wrapper .header .left-head .logo .logo-name {
    color: $darkColor;
  }
  .overview-header-wrapper .header .left-head .route-name {
    color: $darkColor;
  }
  .content {
    background-color: $darkBackground;
    * {
      color: $darkColor !important;
    }
  }
  .content .top-section .my-parts .search-for-myparts input {
    background-color: #202020;
  }
  .sidebar {
    background-color: $darkBackground;
    border-right: 1px solid #eeeeee53;
    * {
      color: $darkColor !important;
    }
  }
  .sidebar .link-area .submenu .link-submenu {
    background-color: #202020;
    &:hover {
      background-color: black !important;
    }
  }
  .sidebar .link-area .link-with-dropdown {
    background-color: #2c303e !important;
  }

 
  .route-component .show-component .shower {
     background-color: $darkBackground;
  }
  .route-component .show-component .shower .table-container table thead tr th {
     background-color: $darkBackground;
  }
  .route-component .show-component .shower .table-container {
     border-radius: 24px;
     border: 1px solid #eeeeee53;
  }
  .titlemain .dropdown-menu button {
     background-color: #202020;
  }
  .titlemain .dropdown-menu.active {
     background-color: #202020;
  }
  .test-drive-users-table .section-data {
     background-color: black;
  }
  .test-drive-users-table .section-data .user-info .user {
     background-color: #232630;
  }
  .route-component .show-component .shower .table-container table thead tr th {
     color: #fafafa;
  }
  .route-component .show-component .shower .table-container table {
     background-color: black !important;
  }
  .route-component .show-component .shower .table-container table tbody tr td {
     background-color: black;
  }
  .route-component .show-component .shower .table-container table tbody tr {
     border-bottom: 1px solid rgb(55, 47, 98) !important;
  }
  .route-component .overlay-testdrive .modal-testdrive {
     background-color: black;
  }
  .route-component .overlay-testdrive .modal-testdrive h3 {
     background-color: #232630;
  }
  .modal-overlay .modal-content {
     background-color: #232630;
  }
  .modal-overlay .modal-content .head-modal h3 {
     color: white;
  }
  .modal-overlay .modal-content .add-component form {
     background-color: #2c303e;
  }
  .modal-overlay .modal-content .add-component form .input-field label {
     color: $darkColor;
  }
  .modal-overlay .modal-content .add-component form .selected-item .label-radio label span {
     color: $darkColor;
  }
  .modal-overlay .modal-content .add-component form .input-field input {
     background-color: #232630;
     color: $darkColor;
  }
  .image-input-field .drop-container {
     background-color: black;
  }

  .titlemain .right {
     background-color: rgb(35, 35, 36);
  }
  
}
